*{
	margin: 0;
	padding: 0;


}
@font-face{
	font-family: 'Montserrat', sans-serif;
	src: url('http://fonts.googleapis.com/css?family=Montserrat');
}
body{
	background-color: #fff;
	height: 100%;
	width: 100%;
}
#conteudo{
	margin: 200px 0 0 500px;
}
h1{
	color: #000;
	font-family: 'Montserrat';
	font-size: 70px;
}
.o1_zimb{
	width: 15px;
	height: 15px;
	background-color: red;
	-webkit-border-radius: 25px;
	-o-border-radius:25px;
	-moz-border-radius:25px;
	border-radius: 25px;
	margin: 12px 0 0 50px;
	position: absolute;
	background: rgb(255, 0, 0);
    -moz-box-shadow: inset 0 5px 10px rgb(180, 172, 173);
    -webkit-box-shadow: inset 0 5px 10px rgb(180, 172, 173);
    box-shadow: inset 0 5px 10px  rgb(180, 172, 173);


}
.o2_zimb{
	width: 25px;
	height: 25px;
	background-color: orange;
	-webkit-border-radius: 25px;
	-o-border-radius:25px;
	-moz-border-radius:25px;
	border-radius: 25px;
	margin: -10px 0 0 70px;
	position: absolute;
	background: rgb(255, 180, 0);
    -moz-box-shadow: inset 0 5px 10px rgb(180, 172, 173);
    -webkit-box-shadow: inset 0 5px 10px rgb(180, 172, 173);
    box-shadow: inset 0 5px 10px  rgb(180, 172, 173);
}
.o3_zimb{
	width: 35px;
	height: 35px;
	-webkit-border-radius: 25px;
	-o-border-radius:25px;
	-moz-border-radius:25px;
	border-radius: 25px;
	margin: -32px 0 0 99px;
	position: absolute;
	background: rgb(0, 255, 0);
    -moz-box-shadow: inset 0 5px 10px rgb(180, 172, 173);
    -webkit-box-shadow: inset 0 5px 10px rgb(180, 172, 173);
    box-shadow: inset 0 5px 10px  rgb(180, 172, 173);
}
.o4_zimb{
	width: 45px;
	height: 45px;
	-webkit-border-radius: 25px;
	-o-border-radius:25px;
	-moz-border-radius:25px;
	border-radius: 25px;
	margin: -34px 0 0 146px;
	position: absolute;
	background: rgb(0, 0, 225);
    -moz-box-shadow: inset 0 5px 10px rgb(180, 172, 173);
    -webkit-box-shadow: inset 0 5px 10px rgb(180, 172, 173);
    box-shadow: inset 0 5px 10px rgb(180, 172, 173);

}
.o5_zimb{
	width: 50px;
	height: 50px;
	-webkit-border-radius: 25px;
	-o-border-radius:25px;
	-moz-border-radius:25px;
	border-radius: 25px;
	margin: 20px 0 0 186px;
	position: absolute;
	background: rgba(12, 2, 2, 3);
    -moz-box-shadow: inset 0 5px 10px rgba(180, 172, 173, 3);
    -webkit-box-shadow: inset 0 5px rgba(180, 172, 173, 3);
    box-shadow: inset 0 5px 10px rgba(180, 172, 173, 3);
   
}